


#time{
    background-color: rgb(8, 78, 136);
    color: rgb(250, 248, 248);
    padding: 20px;
    position: absolute;
    width: 40vh;
    text-align: center;
    height: 10vh;
    font-size: 3rem;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}